@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #fce690;
  --color-secondary: #4B4B4B;
  --color-tertiary: #F4F2F0;
  --background-image-gradient-primary: linear-gradient(
    76deg,
    #ae712e -96.84%,
    #a56a2d -38.97%,
    #ab7334 -28.91%,
    #be8d47 -16.33%,
    #d8b163 1.28%,
    #eed17e 18.89%,
    #fce690 33.99%,
    #f2d77f 46.57%,
    #d9b055 76.76%,
    #ca9a3c 91.86%,
    #f4cb64 124.57%,
    #dcaf4d 154.76%
  );
}

:root {
  --font-proxima: "proxima-nova", sans-serif;
}

body {
  font-family: var(--font-proxima);
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  max-width: clamp(640px, 90vw, 1536px);
}

.text-gradient-primary {
  background-image: var(--background-image-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

